# Unit tests, coverage, type-hints and formatting/style.
pytest-cov
flake8-docstrings
black[jupyter]
isort
mypy == 0.991

# to run the tests
pulser-simulation>=0.14.0

# tutorials
notebook
python-igraph